@media(max-width: 768px){
    body{
        background: url(../images/bg-mobile.svg) no-repeat;
        background-color: hsl(257, 40%, 49%);
        background-size: contain;
    }

    .header{
        height: 120px;
        width: 300px;
    }

    .header a{
        padding: 0;
    }
    
    .main{
        width: 300px;
    }

    .main .container{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .container .about{
        width: 360px;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        font-size: 13px;
    }

    .container img{
        width: 300px;
    }

    .about p{
        width: 300px;
        font-size: 14.5px;
    }

    .about h1{
        width: 300px;
        font-size: 25px;
    }

    .footer{
        justify-content: center;
        width: 300px;
    }
}
