body{
    background: url(../images/bg-desktop.svg)no-repeat;
    background-size: cover;
    background-color: hsl(257, 40%, 49%);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.header{
    max-width: 1440px;
    width: 1440px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.header a{
    padding: 0px 100px;
}

.main{
    max-width: 1440px;
    align-self: center;
}

.main .container{
    display: flex;
    padding: 0px 90px;
    gap: 40px;
    justify-content: center;
    align-items: center;
    font-weight: 400;
}

.container img{
    max-width: 768px;
}

.container h1{
    font-weight: 600;
    font-size: 40px;
}

.main .container .about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    color: #fff;
}

.main .container .about a{
    border: 15px solid #fff;
    height: 60px;
    width: 250px;
    color: hsl(257, 40%, 49%);
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 45px;
}

.main .container .about a:hover{
    border: hsl(300, 69%, 71%);
    background-color: hsl(300, 69%, 71%);
    color: #fff;
}

.footer{
    max-width: 1440px;
    width: 1440px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100px;
    gap: 10px;
}

.footer a{
    font-size: 20px;
    font-weight: 600;
    margin: 20px;
    color: #fff;
}

.footer a:hover{
    color: hsl(300, 69%, 71%);
}