body{
    background: url(../images/bg-desktop.svg)no-repeat;
    background-size: cover;
    background-color: hsl(257, 40%, 49%);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.header{
    max-width: 1440px;
    width: 1440px;
    height: 190px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.header a{
    padding: 0px 100px;
}

.header a img{
    width: 200px;
}

.main{
    max-width: 1440px;
    align-self: center;
}

.main .container{
    display: flex;
    padding: 0px 90px;
    gap: 60px;
    justify-content: center;
    align-items: center;
    font-weight: 400;
}

.container img{
    max-width: 768px;
}

.container h1{
    font-weight: 600;
    font-size: 40px;
}

.main .container .about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    color: #fff;
}

.main .container .about button{
    cursor: pointer;
    font-size: 15px;
    border: 15px solid #fff;
    height: 55px;
    width: 230px;
    color: hsl(257, 40%, 49%);
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 45px;
    box-shadow: 0 0 1em 0.5em rgba(2, 2, 2, 0.295);
}

.main .container .about button:hover{
    transition: 0.3s;
    border: hsl(300, 69%, 71%);
    background-color: hsl(300, 69%, 71%);
    color: #fff;
}

.footer{
    max-width: 1440px;
    width: 1440px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100px;
    padding-right: 5%;
}

.footer a{
    font-size: 20px;
    font-weight: 600;
    margin: 25px 15px 15px 15px;
    color: #fff;
    border: 1px solid white;
    border-radius: 40px;
}

.footer a i{
    padding: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.footer .fa-facebook-f{
    width: 40px;
}

.footer a:hover{
    transition: 0.3s;
    border: 1px solid hsl(300, 69%, 71%);
    color: hsl(300, 69%, 71%);
}